# Folder view configuration files
.DS_Store
Desktop.ini

# Compiled Python files
*.pyc

# Virtual environment
env/
.env
.flaskenv
env*

#Cache
.cache/
.pytest_cache/
.idea/
__pycache__

#vscode
.vscode

#migrations
migrations
